<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>

    <h1>Hello Vue Loops</h1>

    <div id="app">
<!-- All the page that vue will manage will go here -->

        <label for="task">Please enter your to do task:</label>
        <input id="task" v-model="newTask">
        <button v-on:click="addTask">Add Task</button> <!-- create button trigger -->  

       <ul>
            <li v-for="task in taskList">{{ task }}</li>
       </ul>
    </div>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    newTask: '',
                    taskList: []
                }
            },
            methods: {
                addTask() { // will add the li element from the addTask button
                    this.taskList.push(this.newTask)
                    this.newTask = ''
                }
                
            }
        })

        app.mount('#app') // this is needed to link the html to the script
      
        
    </script>

    
</body>
</html>